In [1]:
fruits = ['apple','Orange','Mango',2,True]
type(fruits)

list

In [2]:
print(fruits)

['apple', 'Orange', 'Mango', 2, True]

In [3]:
for i in fruits:
    print(i)

apple
Orange
Mango
2
True

In [4]:
x = 12334
for i in x:
    print(i)

TypeError: 'int' object is not iterable

In [13]:
fruits = ['apple','Orange','grapes',2,True]
is_grapes = False

for i in fruits:
    if i =="grapes":
        if_grapes = True
        print("Grapes found in the fruits list")
        break
else:
    print("No grapes found in the list")

Grapes found in the fruits list

In [16]:
my_list = [10,34,45,56]
low_bound =10
upp_bound = 60
for i in my_list:
    if i<low_bound or i>upp_bound:
        print("All the elements are not in the list")
        break
else:
    print("All the elements are in the lsit")

All the elements are in the lsit

# RANGE FUNCTION

RANGE() function in python which return range object

In [18]:
a = range(10)
print(a)

range(0, 10)

In [19]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# range(start,stop,step)
#range(20)
#range(1,20)
#range(1,20,2)

In [20]:
c = range(6)

for i in c:
    print(i)

0
1
2
3
4
5

In [ ]:
range(start,stop,step)

In [21]:
y = range(1,6)
for i in y:
    print(i)

1
2
3
4
5

In [22]:
y = range(1,6,2)
for i in y:
    print(i)

1
3
5

# NOTE--> range is always move towards right side

In [23]:
x = range(-10)
list(x)

[]

In [24]:
x = range(0)
l = list(x)
print(l)

[]

In [25]:
x = range(1)
l = list(x)
print(l)

[0]

In [26]:
z = range(10,1)
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
k = range(-10,3)
list(k)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2]

In [28]:
a=range(-10,-3)
list(a)

[-10, -9, -8, -7, -6, -5, -4]

In [29]:
a=range(-3,-3)
list(a)

[]

In [30]:
a = range(1,10,2)
list(a)

[1, 3, 5, 7, 9]

# Whenever we add the negative value at step(3rd parameter) then the direction is changes of value

In [32]:
a = range(7,1,-2)
list(a)

[7, 5, 3]

In [33]:
b = range(1,10,20)
list(b)

[1]

# NOTE--> Range fuction is always take integer

In [34]:
a = range(7.2,1.2)
list(a)

TypeError: 'float' object cannot be interpreted as an integer

# Zero can't be at the 'step' or third parameter

In [35]:
a = range(7,2,0)
list(a)

ValueError: range() arg 3 must not be zero

# For loop with Range() function

In [36]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [38]:
num = int(input("Enter the number: "))
sum = 0
for i in range(1,num+1):
    sum = sum +i
print(f"The sum of is 1 to {num} is :",sum)

Enter the number: 5
The sum of is 1 to 5 is : 15

In [39]:
for i in range(100,0,-10):
    print(i)

100
90
80
70
60
50
40
30
20
10

In [40]:
for i in range(10):
    print(i)
else:
    print("Loop ended")

0
1
2
3
4
5
6
7
8
9
Loop ended

In [45]:
for i in range(20):
     if i%2==0:
        print(i)
        
else:
    print("loop is ended")

0
2
4
6
8
10
12
14
16
18
loop is ended

In [59]:
number = [1,2,3]
alpha = ['a','b','c']

for n in number:
    print(n,end=" ")
    for ch in alpha:
        print(ch,end=" ")

1 a b c 2 a b c 3 a b c

In [55]:
for i in range(10):
    for j in range(10):
        print("*",end="")
    print()

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [60]:
for i in range(1,4):
    print("* "*3)

* * *
* * *
* * *

In [61]:
for i in range(10):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [74]:
for i in range(10):
    for j in range(j-i):
        print("*",end="")
    print()

In [77]:
num = int(input("Enter the number:"))
while(num):
    for i in range(1,num+1):
        print(i)
    num = int(input("Enter the number"))

Enter the number:1
1
Enter the number2
1
2
Enter the number4
1
2
3
4
Enter the number5
1
2
3
4
5
Enter the number0

In [12]:
x1 = []

In [13]:
for i in range(10):
    x1.append(i**2)

In [14]:
x1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
[i**2 for i in range(10)  ]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
WAP to accept a string

In [31]:
delete [mylist]

NameError: name 'delete' is not defined

In [27]:
in_str = (input("Enter the string : "))
for i in in_str:
    mylist.append(i.upper())
print(mylist)

Enter the string : krushna
['k', 'd', 'f', 'j', 's', 'K', 'R', 'U', 'S', 'H', 'N', 'A', 'K', 'R', 'U', 'S', 'H', 'N', 'A']

In [32]:
mystring = input("Enter the name: ")
[x.upper() for x in mystring]

Enter the name: kruuhdfs

['K', 'R', 'U', 'U', 'H', 'D', 'F', 'S']

In [45]:
mylist1 = []
myInt = input("Enter the 5 integer: ")
for i in myInt.split():
    mylist1.append(int(i))
mylist1
print(sum(mylist1))

Enter the 5 integer: 2 3 45 5 4
59

# wap to produce sqaure only odd number and store them into list

In [58]:
mylist3 = []
for i in range(1,50):
    if i%2 != 0:
        mylist3.append(i**2)
mylist3

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [57]:
[i**2 for i in range(1,50) if i%2 !=0]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [59]:
#Create a function called remove vowels which accept a string as argument and return string all the vowels from string

In [123]:
def test(a):

In [114]:
test("kriies")

['k', 'r', 'i', 'i', 'e', 's']

TypeError: list indices must be integers or slices, not str

In [120]:
mystring = (input("Enter the string name : "))
my_list6 = []
for i in range(len(mystring)):
    if mystring[i] != 'a' and mystring[i] != 'i' and mystring[i] != 'u' and mystring[i] != 'e' and mystring[i] != 'o':
        a  = mystring[i]
        for j in a:
            my_list6.append(j)
print(my_list6)

Enter the string name : akasd
['k', 's', 'd']

In [119]:
my_list6

['d', 's', 'd']